* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo {
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center;
}

#istanbul {
  background-image: url(../img/istanbul.jpg);
}

#roma {
  background-image: url(../img/roma.jpg);
}

#sydney {
  background-image: url(../img/sydney.jpg);
}
