* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* photo styling */

.photo {
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center;
}

#istanbul {
  background-image: url(../img/istanbul.jpg);
}

#roma {
  background-image: url(../img/roma.jpg);
}

#sydney {
  background-image: url(../img/sydney.jpg);
}

/* title styling */

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: lightgrey;
  font-family: 'Dancing Script', cursive, arial, helvetica, sans-serif;
  text-shadow: 2px 2px grey;
}

/* layover */

.layover {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100vh;
}
