* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.photo {
  background-size: cover;
  height: 100vh;
  position: relative;
  background-position: center;
}

#istanbul {
  background-image: url(../img/istanbul.jpg);
}

#roma {
  background-image: url(../img/roma.jpg);
}

#sydney {
  background-image: url(../img/sydney.jpg);
}

.title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: lightgrey;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 1px;
}
